<script src="/Application/Home/View/style/js/blog_index.js"></script>
<script>
    $(document).ready(function() {
        var content = "{$blog.content}";
        content = content.replace(/&lt;/g, "<");
        content = content.replace(/&gt;/g, ">");
        content = content.replace(/&amp;lt;/g, "<");
        content = content.replace(/&amp;gt;/g, ">");
        content = content.replace(/\\/g, " ");
        content = content.replace(/&quot;/g, "\"");
        content = content.replace(/&nbsp;/g, " ");
        content = content.replace(/&amp;nbsp;/g, " ");
        content = content.replace(/&amp;amp;/g, "& ");
        $("#blog-content").append(content);
    });
</script>
<div class="container">
    <include file="./Application/Home/View/Layout/header_zone.html" />
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <h4 align="center">
                                            <b>{$blog.title}</b>
                                        </h4>
                                    </td>

                                </tr>
                                <tr>
                                    <td align="center"><small style="color: #B5B5B5">{$blog.created_time}</small>
                                        <button name={$blog.id} type="button" class="btn btn-link btn-xs btn-edit">编辑</button>
                                        <button name={$blog.id} type="button" class="btn btn-link btn-xs btn-delete">删除</button></td>

                                </tr>
                                <tr>
                                    <td>
                                        <div id="blog-content"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>