<title>Zone</title>
<script src="/Application/Home/View/style/js/blog_index.js"></script>
<script>
    $(document).ready(
            function() {
                var totalPage = {$totalPage};
                var curPage = {$page};
                if(totalPage==0){
                    $("ul#pagination-blog").append("<li class=\"disabled\"><a href=\"#\" >&laquo;</a></li>");
                    $("ul#pagination-blog").append("<li class=\"disabled\"><a href=\"#\" >1</a></li>");
                    $("ul#pagination-blog").append("<li class=\"disabled\"><a href=\"#\" >&raquo;</a></li>");
                }else{
                    if(curPage<=1){
                        $("ul#pagination-blog").append(
                                "<li class=\"disabled\"><a href=\"#\" >&laquo;</a></li>");
                    }else{
                        var aim = curPage-1;
                        $("ul#pagination-blog").append(
                                "<li><a href=\"/index.php/Home/Blog/tozone/page/"+aim+"\">&laquo;</a></li>"); 
                    }
                    for(var i =1;i<=totalPage;i++){
                        if(i==curPage){
                            $("ul#pagination-blog")
                            .append(
                                    "<li class=\"active pagenum\"><a href=\"/index.php/Home/Blog/tozone/page/"+i+"\">" + i
                                            + "</a></li>");
                        }else{
                            $("ul#pagination-blog")
                            .append(
                                    "<li><a class=\"pagenum\" href=\"/index.php/Home/Blog/tozone/page/"+i+"\">" + i
                                            + "</a></li>"); 
                        }
                    }
                    if(curPage>=totalPage){
                        $("ul#pagination-blog").append(
                                "<li class=\"disabled\"><a href=\"#\" >&raquo;</a></li>");
                        
                    }else{
                       var aim = curPage+1;
                        $("ul#pagination-blog").append(
                                "<li><a href=\"/index.php/Home/Blog/tozone/page/"+aim+"\">&raquo;</a></li>");
                    }
                }
            });
</script>
<div class="container">
    <include file="./Application/Home/View/Layout/header_zone.html" />
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td align="center">
                                <p>
                                    <img src="/Application/Home/View/style/images/default_portrait.jpg" class="img-rounded img-thumbnail" width="184"
                                        height="184">
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <button id="add-blog" type="button" class="btn btn-primary btn-block">创建文章</button>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><ul class="nav nav-tabs nav-stacked">
                                    <li><a href="#">文章列表</a></li>
                                    <li><a href="#">草稿箱</a></li>
                                    <li><a href="#">个人信息</a></li>
                                </ul></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-9 col-md-9">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">文章列表</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <volist name="artslist" id="vo">
                                <tr>
                                    <td><a href="/index.php/Home/Blog/read/id/{$vo.blog_id}">{$vo.title}</a></td>
                                    <td width="20%" align="right"><small style="color: #B5B5B5">{$vo.created_time}</small></td>
                                    <td width="12%" align="right">
                                        <button name={$vo.blog_id} type="button" class="btn btn-link btn-xs btn-edit">编辑</button>
                                        <button name={$vo.blog_id} type="button" class="btn btn-link btn-xs btn-delete">删除</button>
                                    </td>
                                </tr>
                                </volist>
                            </table>
                        </div>
                    </div>
                    <ul id="pagination-blog" class="pagination"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
