<title>add a blog</title>
<div class="container">
    <include file="./Application/Home/View/Layout/header_zone.html" />
    <div id="alerts"></div>
    <form role="form">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <input id="blog_title" name="blog_title" type="text" class="form-control" placeholder="请输入标题">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <iframe src="/Application/Home/View/Layout/document.html"></iframe>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12" align="right">
                <button id="preview-button" type="button" class="btn btn-default">预览</button>
                <button id="publish-button" type="button" class="btn btn-primary">发布</button>
                <button id="savedraft-button" type="button" class="btn btn-success">保存为草稿</button>
                <button id="cancelblog-button" type="button" class="btn btn-link">取消</button>
            </div>
        </div>
    </form>
</div>
<script src="/Application/Home/View/style/js/blog_new.js"></script>
<script type="text/javascript" src="/Application/Home/View/style/js/squire-raw.js"></script>
