<script src="/Application/Home/View/style/js/blog_view.js"></script>
<div class="container">
    <include file="./Application/Home/View/Layout/header_zone.html" />
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <button type="button" class="btn btn-link">个人信息</button>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <img src="/Application/Home/View/style/images/default_portrait.jpg" class="img-rounded img-thumbnail" width="184" height="184">
                    </p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">免费 Window 空间托管</li>
                    <li class="list-group-item">图像的数量</li>
                    <li class="list-group-item"><span class="badge">新</span> 24*7 支持</li>
                    <li class="list-group-item">每年更新成本</li>
                    <li class="list-group-item"><span class="badge">新</span> 折扣优惠</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-sm-9 col-md-9">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <h4>{!$blog.title!}</h4>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div id="blog-hidden" hidden="true">{!$blog.content!}</div>
                                        <div id="blog-content"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>