<style>
.jumbotron {
    background: url(./Application/Home/View/style/images/main_large_1.jpg);
}
</style>
<include file="./Application/Home/View/Layout/header_index.html" />
<div class="container">
    <div class="row">
        <div class="container  col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">面板标题</div>
                <div class="panel-body">
                    <p>这是一个基本的面板内容。这是一个基本的面板内容。 这是一个基本的面板内容。这是一个基本的面板内容。 这是一个基本的面板内容。这是一个基本的面板内容。 这是一个基本的面板内容。这是一个基本的面板内容。</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">免费域名注册</li>
                    <li class="list-group-item">免费 Window 空间托管</li>
                    <li class="list-group-item">图像的数量</li>
                    <li class="list-group-item">24*7 支持</li>
                    <li class="list-group-item">每年更新成本</li>
                </ul>
            </div>
        </div>
        <div class="container  col-md-6">
            <div class="panel panel-default ">
                <div class="panel-heading">面板标题</div>
                <div class="panel-body">
                    <p>这是一个基本的面板内容。这是一个基本的面板内容。 这是一个基本的面板内容。这是一个基本的面板内容。 这是一个基本的面板内容。这是一个基本的面板内容。 这是一个基本的面板内容。这是一个基本的面板内容。</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">免费域名注册</li>
                    <li class="list-group-item">免费 Window 空间托管</li>
                    <li class="list-group-item">图像的数量</li>
                    <li class="list-group-item">24*7 支持</li>
                    <li class="list-group-item">每年更新成本</li>
                </ul>
            </div>
        </div>
    </div>
</div>