<script src="/Application/Home/View/style/js/signin.js"></script>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Zblog</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/index.php">Home</a></li>
            <li><a id="zone-index" href="#">Zone</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Option <b class="caret"></b>
            </a>
                <ul class="dropdown-menu">
                    <li><a href="#">介绍</a></li>
                    <li class="divider"></li>
                    <li><a href="#">其他</a></li>
                </ul></li>
        </ul>
    </div>
    <div class="navbar-form navbar-right btn-group btn-group-sm">
        <button id="signin-button" class="btn btn-default" data-toggle="modal" data-target="#signin_autoModal">Sign In</button>
        <button id="signup-button" type="button" class="btn btn-default">Sign Up</button>
    </div>
</nav>
<include file="./Application/Home/View/Account/signin.html" />