<!DOCTYPE html>
<html>
<head>
<title>Zblog-纯粹的文字世界</title>
<link href="/Application/Home/View/style/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="/Application/Home/View/style/css/jquery-confirm.min.css" rel="stylesheet">
<script src="/Application/Home/View/style/jquery/jquery-1.11.3.min.js"></script>
<script src="/Application/Home/View/style/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="/Application/Home/View/style/js/index.js"></script>
<script src="/Application/Home/View/style/jquery/jquery-confirm.min.js"></script>


</head>
<body>
    <!--     <div class="page-header">
        <h1 align="center">
            Zblog<small>纯粹的文字世界</small>
        </h1>
    </div>
 -->
    <div class="container">{__CONTENT__}</div>
</body>
</html>